        .container,
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-top: 20px;
            background-color: white;
        }

        .container {
            width: 600px;
            border: 1px solid blue;
            color: black;
        }

        .style_name,
        .style_image,
        .entering,
        .style_gen,
        .falcuty,
        .picking_falcuty,
        .button-container,
        .date_of_birth,
        .date_input,
        .input_address {
            border: 1px solid blue;
            background-color: white;
        }

        .style_name {
            background-color: #70AD47;
            color: white;
            padding: 5px;
            margin: 5px;
            border-radius: 0px;
            width: 90px;
            height: 15px;
            padding-top: 9px;
            padding-bottom: 11px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
        }
        .style_image {
            background-color: #70AD47;
            color: white;
            padding: 5px;
            margin: 5px;
            border-radius: 0px;
            width: 90px;
            height: 15px;
            padding-top: 9px;
            padding-bottom: 11px;
            text-align: center;
            display: inline-block;
        }
        .entering {
            color: black;
            padding: 5px;
            border-radius: 0px;
            width: 400px;
            height: 25px;
            display: inline-block;
            margin: 5px;
        }

        .style_gen {
            margin-bottom: 24px;
        }

        .picking_gender {
            color: black;
            padding-left: 10px;
            margin-left: -9px;
            font-size: 20px;
            display: inline-block; 
        }

        .falcuty {
            margin-bottom: 24px;
        }

        .picking_falcuty {
            color: black;
            padding: 5px;
            margin: 5px;
            border-radius: 0px;
            width: 180px;
            height: 38px;
            padding-top: 9px;
            padding-bottom: 11px;
            text-align: center;
            display: inline-block;
            margin-left: 5px;
        }

        .button-container {
            background-color: #70AD47;
            color: white;
            padding: 5px;
            border-radius: 5px;
            width: 150px;
            height: 50px;
            margin-top: 20px;
            margin-left: 8px;
            cursor: pointer ;
            border: none;
        }
        .button-wrapper {
            display: block; 
            margin-top: 10px; 
            margin-left: 210px;
        }
        
        .picking_gender label {
            display: inline-block;
            margin-right: 10px;
            margin-top: 15px;
        }

        .required {
            color: red;
        }

        .date_of_birth {
            margin-bottom: 24px;
        }

        .date_input {
            padding: 5px;
            margin: 5px;
            border-radius: 0px;
            width: 180px;
            height: 34px;
            padding-top: 0px;
            padding-bottom: 2px;
            text-align: center;
            display: inline-block;
            margin-left: 5px;
        }

        .input_address {
            border-radius: 0px;
            width: 400px;
            height: 100px;
            resize: vertical;
            padding-top: 0px;
            padding-bottom: 85px;
            display: inline-block;
            margin-left: 5px;
            padding-right: 10px;
            margin-top: 5px;
        }

        .form {
            display: inline-block;
            align-self: flex-start;
            padding-left: 20px;
            flex-direction: column; 
        }
        .uploadImage {
            margin-top: 16px;
            margin-left: 5px;
        }
        #errorMessage {
            display: none;
            color: red;
            text-align: left; 
            padding-right: 400px;
        }